*{}
.body{
    position: relative;
}
.menu{
    background-color: #63B8FF!important;
}
a.nav-link{
    color:white!important;
    font-weight: bold
}
.menu img{
width: 15%;
}
.menu ul{
    margin-right: auto
}
ul .active{
    color:orangered!important;
    background-color: rgba(0,144,255,0.3)
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 2px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}

.info{
    background-color: antiquewhite;   
    border-left: #2C3539 solid 1px;
    border-right: #2C3539 solid 1px;
    padding-bottom: 5%
}
p.infomation{
    text-align: center;
    margin-top: -2%;
    font-weight: bold;
    font-size: xx-large
}
.cn{
    
    padding: 15% 0 15% 0;
    background-image: url('../images/banners/banner4.jpg');background-attachment: fixed;
    background-size: 100% 100%;
}
.info h2{
    
    text-align: center;
    color:#63B8FF;
    font-weight: bold;
}
.info h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    font-family: initial;
}
.info span{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:violet;
    font-family: serif;
}
ul{
    font-size: large
}
.education i{
    border: black solid 2px;
    padding: 2%;

}

.education li{
    margin-left: 15%;
    color: darkred
}
img#avartar{
    display: block;
    margin:20%  auto;
    width: 40%;
    height: 50%;
    border: none
}
form{
    margin: auto
}
#map {
    height: 400px;
    width: 100%;
    padding-right: 50%
}
.address p i{
    font-size: large;
    color: blueviolet;
    margin: 2% auto;
    text-align: center;
    border: blueviolet solid 1px;
    background-color: antiquewhite;
    padding: 3%
}
.address{
    margin: 10% 0 0 5%;
}
.address span{
    font-weight: bold;
    font-size: inherit;
    color: black
}
#btnSeeMaps{
    position: absolute;
    bottom: 0;
}
#copyright {
    padding: 20px;
    background-color: #202020;
    color: white;
}
.cn2{    
    padding: 10% 0 10% 0;
    background-image: url('../images/banners/banner5.jpg');background-attachment: fixed;
    background-size: cover;
}
.cn2 h2{    
    text-align: center;
    color:#63B8FF;
    font-weight: bold;
    margin-bottom: 5%
}
.des-slide{
    z-index: 999;
    position: relative;
    margin-top: -50%
}
#div-contact{
    background-color: rgba(209, 169, 134, 0.637);margin-left: 5%;
}
.swiper-container {
    width: 50%;
    height: 350px;
  }
  .swiper-slide {
    background-position: center;
    background-size: 100% 100%;
  }
  .swiper-slide p{
   color:red;
    position: absolute; 
   bottom: 0;
   left: 40%;
   font-size: xx-large;
    font-weight: 700;
  }
/* start home */
#home
	{
		background: url('../images/banners/banner.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding-top: 15%;
        padding-bottom: 15%
	}
#home h1
	{
		font-weight: 300;
		font-size: 70px;
		padding-bottom: 10px;
	}
#home h1 span
	{
		color: #28a7e9;
		font-weight: bold;
    }
#home .data-home{
    margin-top: 10%
}
#home .btn
	{
		background: transparent;
        border-radius: 10px;
        border: coral 2px solid;
		color: brown;
		font-size: 16px;
		font-weight: bold;
		margin-top: 20px;
		width: 180px;
		height: 60px;
		padding-top: 18px;
		-webkit-transition: all 0.4s ease-in-out;
		        transition: all 0.4s ease-in-out;
	}
#home .btn:hover
	{
		background: #28a7e9;
		border-color: transparent;
	}
.element {
	height: 60px;
    font-size: 16px;
    color:mediumblue
}
/* end home */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}